
<div class="parallax-container">
  <div class="parallax cyan"><img src="https://images.unsplash.com/photo-1523907148451-986fa7602675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"></div>
</div>
<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">"Showerthought" is a loose term that applies to the types of thoughts you might have while carrying out a routine task like showering, driving, or daydreaming. At their best, showerthoughts are universally relatable and find the amusing/interesting within the mundane.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/NeffCodes/shower_thoughts"><i class="fab fa-github"></i> Source Code</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.reddit.com/r/Showerthoughts/">
          <i class="fab fa-reddit"></i>
          r/Showerthoughts</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container">
      &copy; 2022 James Neff. All rights reserverd.
    </div>
  </div>
</footer>