<h3><i class="fas fa-shower"></i> Shower Thoughts </h3>
<section class="section">
  <p class="lead">Create public and private amusing/interesting within the mundane thoughts you have had</p>
</section>
<div class="divider"></div>
<section class="section">
 <a href="/auth/google" class="btn cyan darken-1">
  <i class="fab fa-google left"></i> Log in with Google
 </a>
</section>