<section>
  <section class="container">
    <h3>Edit Thought</h3>
    <div class="row">
        <form action="/thoughts/{{thought._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="title" name="title" value="{{thought.title}}">
                    <label for="title">Your Thought</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select id="status" name="status">
                        {{#editSelect thought.status}}
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                        {{/editSelect}}
                    </select>
                    <label for="status">Visibility</label>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Save" class="btn">
                <a href="/dash" class="btn orange">Cancel</a>
            </div>
        </form>
    </div>
  </section>
</section>
